/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  background-color: #151A27;
  height: 100vh;
}

.wallet-btn {
  padding: 13px 20px;
  background: linear-gradient(90deg, rgb(54, 181, 73) 0%, rgb(54, 169, 222) 100%);
}

.badge {
  background: linear-gradient(103deg, rgb(60, 56, 255) 0%, rgb(140, 69, 255) 33.33%, rgb(255, 54, 199) 68.23%, rgb(255, 163, 54) 100%);
}

.card {
  border-radius: 40px 40px 0px 0px;
  background: linear-gradient(rgb(24, 54, 84) 0%, rgba(43, 46, 82, 0) 100%);
}

.blur {
  backdrop-filter: blur(12px);
  background-color: #0006
}