/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  background-color: #1B2226;
  height: 100vh;
}

.wallet-btn {
  padding: 13px 20px;
  background: linear-gradient(90deg, rgb(60, 56, 255) 0%, rgb(120, 56, 255) 100%);
}